@font-face {
    font-family:Raleway;
src: url(../fonts/Raleway-Italic.ttf), url(../fonts/Raleway-Black.ttf), url(../fonts/Raleway-Bold.ttf), url(../fonts/Raleway-Medium.ttf) }



body{
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
}

header{
    background-color: #F8F4FC;
    height: 117px;
    

    
}
.head{
    width: 1255px;
    margin: 0 auto;

}

.logo{
  
    margin-top: 11px;
    display: inline-block;
    float: left;
}



nav, .navigation, .navigation-item{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item a{
    color: #354657;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding-right: 50px;
}

.navigation{
    margin-top: 31px;
    margin-left: 80px;
}

.client{
    display: inline-block;
 margin-left: 220px;

}

.loupe, .user, .sb{
    margin-right: 32px;
}

.container{
    width: 740px;
    margin: 0 auto;
    

}

h1{
    text-align: center;
font-size: 30px;
font-weight: bold;
}

.text{
    color:#354657;
    font-size: 16px;
    text-align:justify;
    margin-top: 40px;
}

.photo{
 margin-bottom: 100px;
 margin-left: 23px;
}
.oil{
    margin-top: -80px;
    margin-left: 23px;
    font-style: italic;

    
}

.second{
    color:#354657;
    font-size: 16px;
    text-align:justify;
    margin-top: 54px;

}

.line{
    margin-top: 30px;
}

h2{
    margin-top: 20px;
    color:#354657;
    font-size: 16px;
   
}
.fb{
    margin-top: 5px;
}

footer{
    background-color: #F8F4FC;
    height: 97px;
    margin-top: 101px;
}
    
.social{
    display: inline-block;
    margin-left: 320px;
    position: absolute; 
    margin-top: 34px;
}

.facebook, .instagram, .youtube, .linkedin, .pinterest{

    display: inline-block;
}


.doterra{
    position: absolute; 
    margin-left: 500px;
    margin-top: 34px;
  
}

.flower{
    float: right;
    margin-top: -680px;
    position: relative;

    
}



