@font-face{
    font-family:Oswald;
    src: url('../fonts/Oswald-Light.ttf'), url('../fonts/Oswald-Bold.ttf'), url('../fonts/Oswald-Medium.ttf');
}
body{
    padding: 0;
    margin: 0;
    font-family: Oswald, sans-serif;
}


div{
    box-sizing: border-box;
}

header{
    background: url(../img/Rectangle.png) no-repeat center top / cover ;
    height: 740px;
}


.container{
    width: 1110px;
    margin: 0 auto;
}

.logo{
margin-top: 6.23px;

}

.menu{
    margin-top: 30px;
    float: right;
}
h1{
    color: white;
    font-size: 64px;
    font-weight: medium;
    text-transform: uppercase;
    text-align: center;
    margin-top: 123px;
}

h2{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}
.block{
    background-color: #F7F7F7;
    height: 300px;
    margin-top: 230px;
}

.content{
    width: 190px;
    float: left;
    text-align: center;
}


.content:last-child{
    margin-right: 130px;
}
.content:first-child{
    margin-left: 130px;
}

.content:nth-child(2){
    margin-left: 30px;
}
.content:nth-child(3){
    margin-left: 30px;
}


.twenty{
    color:#F7654A;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 57px;
    font-weight: bold;
    
}
.year{
    color:#000000;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    
}

.market{
    color:#999999;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-weight: medium;
    
}




h3{
    color: #404149;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 250px;
    font-weight: medium;
}


.projects{
margin-top: 60px;
}


.project_item{
    width: 350px;
    float: left;
    text-align: center;
    

}

.project_item .line{
    float: left;
    margin-top: 45px;
}

.project_item h4{
    color: #404149;
    font-size: 24px;
    text-align: left;
    margin-top: 66px;
    font-weight: bold;
}

.project_item p{
    color: #999999;
    font-size: 16px;
    text-align: left;
    
    
}

.project_item:last-child{
    float: right;
}

.project_item:nth-child(2){
    margin-left: 30px;
}


.footer{
    background-color:#F7654A;
    height:181px;
    margin-top: 788px;
 
}

h5{
    color: #FFFFFF;
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 30px;
    margin: 0;
    font-weight: bold;
}

h6{
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 20px;
    margin: 0;
}

.button{
    background:#FFFFFF;
    color:#000000;
    display: block;
    width: 175px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    font-size:14px ;
   float: right;


}