 
 @font-face{
    font-family:Raleway;
    src: url('/fonts/Raleway-Black.ttf'), url('/fonts/Raleway-Bold.ttf'), url('/fonts/Raleway-Light.ttf') url('/fonts/Raleway-Medium.ttf'),url('/fonts/Raleway-Thin.ttf');
}
 html body{
    font-family:Raleway sans-serif;
    box-sizing: border-box;
}
.header{
    height: 120px;
    background-color: #F8F4FC;
}

.container{
   
    max-width: 1254px;
    margin: 0 auto;
    max-height: 1200px;
}


.first_logo{
    display: flex ;
    justify-content: space-between;
}

.logo{
    margin-top: 20px;
}

.navigation{
  display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.user{
 margin-top: 29px;
}


.page{
    display: inline;
}


.title{
    margin-top: 71px;
}

hr{
    width: 1240px; 
    color:#E2E2E2;
    margin-bottom: 40px;

}

.enter{
    display: inline-block;
    width: 384px;
    height: 113px;
    background-color:#F0F2F5;
    padding-left: 20px;
    padding-top: 20px;
}
.data{
    display: inline-block;
    margin-top: 20px;
    width: 384px;
    height: 818px;
    background-color:#F0F2F5;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 26px;
}

span{
   color:#354657;
   font-size: 20px; 
   font-weight: 700;
}

form .data input{
    width: 85%;

}

.delivery{
    display: inline-block;
    width: 790px;
    height: 113px;
    background-color:#F0F2F5;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 30px;

}
.wrapper{
    position: relative;
    top: -838px; 
    margin-left: 437px;
}
.pay{
    display: inline-block;
    width: 790px;
    height: 113px;
    background-color:#F0F2F5;
    padding-left: 20px;
    padding-top: 20px;
}

table{
    width: 100%;
    height: 250px;
    border-collapse: collapse;

}

thead{
height: 41px;
font-size: 14px;
text-transform: uppercase;
text-align: center;
width: 700;
color:#354657;

}

tbody{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 400;
    color:#354657;  

}
thead td{
    background-color:#F0F2F5;
    
}

.paying{
    height: 318px;
    background-color:#F0F2F5;
   padding-top: 20px;
    padding-left: 20px;
}

form input[type="button"]{
    border-radius: 50px;
    background-color:#946FD3;
    color:#FFFFFF;
    font-size: 14px;
    border: none;
    margin-top: 35px;
    margin-left: 570px;
    width: 206px;
    height: 54;
    padding: 10px 10px;
}

form input[type="checkbox"]{
    margin-top: 16px;
}


footer{
   
    border-top: 1px solid #E2E2E2;
}

