@font-face {
    font-family:Montserrat;
src: url(/fonts/Montserrat-Thin.ttf)}

body{
    background-color:#131313;
    margin: 0;
}
.header{
    width: 55%;
    border-bottom: 1px solid #272727;
    margin: 0 auto;
    overflow: auto;

}
.logo, .navigation, .navigation-item{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.logo{
    float: left;
    padding: 1rem 0;
}

.navigation-item{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 0.5rem;
    font-size: 13px;
    font-family: Montserrat;
    Vertical-align: Center;
}

.navigation{
    float: right;
}

.number{ 
    padding: 23px 23px 23px 1px ;
    color:white;
    font-size: 16px;
    font-family: Montserrat;
    Vertical-align: Center;
    display: inline-block;
    list-style: none;
    }
.menu{
    width: 55%;
    margin: 0 auto;
    margin-top: 91px;
    overflow: auto;
}

.history{
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 30px;

}

tr, th {
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
   
    
}

thead{
    font-family: Montserrat;
    color:#727272 ;
    font-style: Bold;
    font-size: 13px;
    text-align: left;
}


tbody{
    color:#FFFFFF ;
    font-family: Montserrat ;
    font-size: 13px ;
    text-align: left;
}
tr,th{
    width: 270px;
    height: 25px;
}

.pages{
   display: inline;


}

.page {
    color:#FFFFFF;
    font-family: Montserrat ;
    font-size: 16px;
    vertical-align: Center;
    display: inline-block;
    padding: 10px;
    padding-top: 50px;
    text-decoration: none;
}

span{
    color:#4F4F4F;

   
}

.left{
    display: inline;
    margin-top: 100px;
    margin-left: 700px;
    text-decoration: none;}

.right{
    display: inline;
    padding-left: 30px;
}
.link{
    text-decoration: none;
}

.divider{
    display: inline-block;
    padding: 10px 1px;
    font-size: 25px;
    border-right: 1px solid #272727;
    }